<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>uri</key>
			<string>spotify:album:0fUy6IdLHDpGNwavIlhEsl</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:3eM1KTKmpqrQOvuvYY42cr</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:0S1ONmL07Ngvtbw0LtxyqK</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:4Lp4NxL8v03Mxg3hbAgW1Z</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:6bRsXeFIUgPfYLZNprki2h</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:4W3qmT02rdnnEYOv0Xh98v</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:4svLfrPPk2npPVuI4kXPYg</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:3OMktTWq6op5qTgMsvlRtN</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:5FLsmazQWaDK9JGqdzHlN4</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:79dL7FLiJFOO0EoehUHQBv</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:6b5WANFyoXhaMTXPqLF6ez</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:4Csoz10NhNJOrCTUoPBdUD</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>uri</key>
			<string>spotify:album:7vgpBNK5xPmS3Mu2Hl9O0D</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:5Y0p2XCgRRIjna91aQE8q7</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:0cszZwl0JRKHBdcFLfNX3T</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:5z8bPdGFiJx56cqsHTvWM9</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:2yNaksHgeMQM9Quse463b5</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:6GphKx2QAPRoVGWE9D7ou8</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:392p3shh2jkxUxY2VHvlH8</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:4kT3ewGWBRAOlocyVp03bm</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
		<dict>
			<key>uri</key>
			<string>spotify:album:0HHRIVjvBcnTepfeRVgS2f</string>
			<key>about</key>
			<string>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</string>
		</dict>
	</array>
</array>
</plist>
