<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uri</key>
		<string>spotify:album:0fUy6IdLHDpGNwavIlhEsl</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:1oScYOf8ImO6L9bdvhep1J</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:0S1ONmL07Ngvtbw0LtxyqK</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4Lp4NxL8v03Mxg3hbAgW1Z</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:6bRsXeFIUgPfYLZNprki2h</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4W3qmT02rdnnEYOv0Xh98v</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4svLfrPPk2npPVuI4kXPYg</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:3OMktTWq6op5qTgMsvlRtN</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:5FLsmazQWaDK9JGqdzHlN4</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:79dL7FLiJFOO0EoehUHQBv</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:6b5WANFyoXhaMTXPqLF6ez</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4Csoz10NhNJOrCTUoPBdUD</string>
	</dict>
</array>
</plist>
