<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uri</key>
		<string>spotify:album:0fUy6IdLHDpGNwavIlhEsl</string>
		<key>artist</key>
		<string>Future</string>
		<key>name</key>
		<string>DS2</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/c9ef6cc5b4ca3e50ed23b1042cdf21266c96e52d</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:1oScYOf8ImO6L9bdvhep1J</string>
		<key>artist</key>
		<string>Everything Everything</string>
		<key>name</key>
		<string>Get To Heaven</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/1f05da68dc38b038c4ef8906e6f525f1fc440e53</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:0S1ONmL07Ngvtbw0LtxyqK</string>
		<key>artist</key>
		<string>Mas Ysa</string>
		<key>name</key>
		<string>Seraph</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/1a8de2b196e2c9423cff87e8f7bcea01f133ab43</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4Lp4NxL8v03Mxg3hbAgW1Z</string>
		<key>artist</key>
		<string>Ratatat</string>
		<key>name</key>
		<string>Magnifique</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/4525c71db58122ee6119bff1f8bffd62bb7b4712</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:6bRsXeFIUgPfYLZNprki2h</string>
		<key>artist</key>
		<string>Wolf Alice</string>
		<key>name</key>
		<string>My Love Is Cool</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/629b20dd3b13d2532e257ec3f63fe8a9198c6a90</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4W3qmT02rdnnEYOv0Xh98v</string>
		<key>artist</key>
		<string>Four Tet</string>
		<key>name</key>
		<string>Morning / Evening</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/8e2f050d7f7db16e46e504583d6a289a5f5edb81</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4svLfrPPk2npPVuI4kXPYg</string>
		<key>artist</key>
		<string>Leon Bridges</string>
		<key>name</key>
		<string>Coming Home</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/9bbb9727a39660cdefc0ace92eefd94fa556f764</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:3OMktTWq6op5qTgMsvlRtN</string>
		<key>artist</key>
		<string>Bob Moses</string>
		<key>name</key>
		<string>All In All</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/7d6bdfa7a2e53574f9a6dad8c699df86865df652</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:5FLsmazQWaDK9JGqdzHlN4</string>
		<key>artist</key>
		<string>Arca</string>
		<key>name</key>
		<string>Xen</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/1ecf766883e94af4a8a9145a4ff93f7e30872cb8</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:79dL7FLiJFOO0EoehUHQBv</string>
		<key>artist</key>
		<string>Tame Impala</string>
		<key>name</key>
		<string>Currents</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/73930624d021a616dbf431ec19779b2e635b468c</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:6b5WANFyoXhaMTXPqLF6ez</string>
		<key>artist</key>
		<string>Miguel</string>
		<key>name</key>
		<string>Wildheart</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/63143db64dd7f83e599b5625ffc8e051d72bda38</string>
	</dict>
	<dict>
		<key>uri</key>
		<string>spotify:album:4Csoz10NhNJOrCTUoPBdUD</string>
		<key>artist</key>
		<string>Vince Staples</string>
		<key>name</key>
		<string>Summertime &apos;06</string>
		<key>thumb_path</key>
		<string>https://i.scdn.co/image/46055422ddb4839f5ec9125c7752ab9391311bcb</string>
	</dict>
</array>
</plist>
